.wrapper {
	padding: 40px;
	padding-top: 115px;
	font-size: 0.9rem;
	max-width: 1600px;
	margin: 0 auto;
	min-height: 90vh;

	.gallery_wrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		gap: 15px;
	}

	ul {
		li {
			list-style: circle;
		}
		padding-left: 30px;
	}

	p {
		padding-bottom: 10px;
	}

	h1 {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 992px) {
	.wrapper {
		padding: 20px;
		padding-top: 85px;
		font-size: 0.9rem;
		min-height: 90vh;
		max-width: 1600px;
		margin: 0 auto;

		.gallery_wrapper {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			gap: 15px;
		}
	}
}
