.clients_wrapper {
	width: 100%;
	overflow: hidden;

	.title {
		margin: 0 auto;
		max-width: 1600px;
		padding: 20px 30px 0px;
	}

	.carousel_wrapper {
		display: flex;
		flex-direction: row;
		animation-duration: 60s;
		animation-name: slide;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-direction: alternate;

		.img_wrapper {
			position: relative;
			img {
				filter: grayscale(1);
			}

			img:hover {
				filter: grayscale(0);
			}
		}
	}

	@keyframes slide {
		from {
			margin-left: 0%;
			margin-right: 0%;
		}

		to {
			margin-left: -100%;
			margin-right: 100%;
		}
	}
}
